<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.simplecityapps.shuttle.sync</string>
		<string>com.simplecityapps.shuttle.scrobble</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Shuttle Music uses your local network to find and connect to Jellyfin, Emby, Plex and Navidrome media servers on your Wi-Fi network.</string>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.simplecityapps.shuttle2</key>
		<dict>
			<key>audio-engine</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
			<key>network</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
			<key>playback</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
			<key>session</key>
			<dict>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Info</string>
					<key>Persist</key>
					<string>Info</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>S2AppGroup</key>
	<string>$(S2_APP_GROUP)</string>
	<key>S2LastFmApiKey</key>
	<string>$(S2_LASTFM_API_KEY)</string>
	<key>S2LastFmSharedSecret</key>
	<string>$(S2_LASTFM_SHARED_SECRET)</string>
	<key>S2PostHogAPIKey</key>
	<string>$(S2_POSTHOG_API_KEY)</string>
	<key>S2PostHogHost</key>
	<string>$(S2_POSTHOG_HOST)</string>
	<key>S2SentryDSN</key>
	<string>$(S2_SENTRY_DSN)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
