# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/

# User-specific Xcode settings
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# xcodebuild -resultBundlePath output
*.xcresult
TestResults/

# Xcode-generated SwiftPM state
**/.swiftpm/

# Telemetry keys, written by scripts/generate-telemetry-config.sh (#776)
Config/Telemetry.local.xcconfig
