<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.simplecityapps.shuttle.dev" />
    </queries>

    <application android:label="S2 test controller">
        <activity
            android:name=".ControllerActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
