name: CI

on:
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read
  pull-requests: write
  checks: write

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-XX:+HeapDumpOnOutOfMemoryError"

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  unit_tests:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    timeout-minutes: 60

    steps:
      - name: "Git Checkout"
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: "Create keystore.ks"
        run: 'echo "${{secrets.KEYSTORE_FILE}}" | base64 -d > ./android/app/keystore.ks'

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: "Lint Project"
        run: "support/scripts/lint"

      - name: "Build and Run Unit Tests"
        run: "support/scripts/unit-test"

      - name: "Run Snapshot Tests"
        run: "./gradlew android:app:verifyPaparazziDebug"

      - name: "Unit Test Results"
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: |
            **/build/reports/**/*

      - name: "Build Debug APK"
        run: "./gradlew :android:app:assembleDebug"

      - name: "Upload Debug APK"
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: android/app/build/outputs/apk/debug/app-debug.apk
          retention-days: 30
