name: CI

on:
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-XX:+HeapDumpOnOutOfMemoryError"

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  unit_tests:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    timeout-minutes: 60

    steps:
      - name: "Git Checkout"
        uses: actions/checkout@v4

      - name: "Create keystore.ks"
        run: 'echo "${{secrets.KEYSTORE_FILE}}" | base64 -d > ./androidApp/main/keystore.ks'

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: "lint Project"
        run: "support/scripts/lint"

      - name: "Gradle cache"
        uses: gradle/gradle-build-action@v2

      - name: "Build and Run Unit Tests"
        run: "support/scripts/unit-test"

      - name: "Unit Test Results"
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-results
          path: |
            **/build/reports/**/*
