name: Shell Check

on:
  pull_request:
    paths:
      - '.github/workflows/shellcheck.yml'
      - 'support/scripts/**'

permissions:
  contents: read
  pull-requests: write

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ShellCheck Support Scripts
        uses: reviewdog/action-shellcheck@v1.27
        with:
          reporter: github-pr-review
          path: "support/scripts"
          pattern: "[A-Z]*"
          fail_on_error: true
          filter_mode: file
